.demo-container {
    margin-top: 5vh;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 95vh; 
    width: 99vw;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    height: auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.demo-image {
    width: 100%;
    height: auto;
    grid-area: 1 / 1 / 3 / 5;
}

.zone {
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    align-self: center;
    justify-self: center;
    transition: background-color 0.3s ease; /* Para una transición suave */
    height: 100%;
    width: 100%;
}

/* Clases específicas para cada estado */
.zone-green {
    background-color: rgba(0, 128, 0, 0.350); /* Color verde */
}

.zone-yellow {
    background-color: rgba(255, 221, 0, 0.515); /* Color amarillo */
}

.zone-red {
    background-color: rgba(128, 0, 0, 0.350); /* Color rojo */
}

.zone-data-section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    padding: 2rem;
    background-color: var(--dark-blue);
    color: var(--light-color);
    overflow-y: auto;
}

.zone-data-section h4 {
    margin: 0;
}

.indicador-container{
    font-size: 0.7rem;
    padding: 0;
}

.zone-data p{
    font-size: 0.5rem;
}

.zone-data ul{
    padding: 0;
}

.actions-container{
    display: flex
}

.action-button{
    font-size: 0.5rem;
    margin: 5px;
}

/*Modal*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--dark-blue-low-opacity);
    height: 100%;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--dark-blue);
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
}


/* Estilo para el sensor */
.sensor {
    position: absolute;
    width: 30px;
    height: 30px; 
    background-color: var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
    font-size: 14px;
    font-weight: bold;
}