.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-green);
    padding: 12px 0px;
    color: var(--light-color);
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    z-index: 1000;
    opacity: 95%;
    font-weight: 500;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
