/* Header */
.page-header {
    display: flex;
    flex-direction: column;
    padding: 8rem 0;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-image: url("../../Assets/Img/header-image.png");
    background-color: var(--primary-color);
    position: relative;
    /* Añadir para que el pseudo-elemento se posicione correctamente */
}

.page-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-blue);
    z-index: 1;
    opacity: 50%;
}

.header-title,
.header-pharse,
.header-button {
    margin-bottom: 10px;
    z-index: 2;
}

.header-title {
    font-size: 3rem;
}

.header-button {
    background-color: var(--secondary-color);
    color: var(--light-color);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header-button:hover {
    background-color: var(--dark-green);
}

/* Devices */
.devices-container {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    gap: 1rem;
}

.device {
    background-image: url("../../Assets/Img/prototipo.png");
    background-color: var(--secondary-color);
    background-size: cover;
    /* Ajusta la imagen al tamaño de la tarjeta */
    background-position: center;
    /* Centra la imagen en la tarjeta */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    border-radius: 30px;
    box-shadow: 0 4px 16px var(--dark-blue);
    padding: 1.5rem;
    width: 100%;
    height: 25rem;
    max-width: 300px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition: transform 0.3s ease;
}

.device:hover {
    transform: scale(1.05);
}

.device h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    margin: 0;
    color: var(--dark-blue);
}

.device p {
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0;
    color: var(--dark-blue);
}